

/* Dashboard */


/* src/pages/Dashboard.css */






/* file items  */

/* src/components/FileItem.css */




/* popups */

/* Global Popup Overlay Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Base Popup Styles */
.popup {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}


.popup h3{
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.permission-options{
  display: flex;
  gap: 20px;
  align-items: center;
}

.permission-options label, input[type="radio"]{
  cursor: pointer;
}

.copu-link-div{
  display: flex;
  gap: 10px;
  align-items: center;
}

.copy-btn{
  background-color: #000000;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border: none;
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-actions{
  display: flex;
  gap: 10px;
  align-items: center;
}

.popup-actions button{
  background-color: #000000;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sharable-head{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 600;
}

.sharabble-links{
  display: flex;
  max-width: 80%;
  flex-direction: column;
  word-wrap: break-word;
}

.sharabble-links a{
  color: #1a73e8;
  text-decoration: none;  
  width: 100%;
}


.popup-email-input{
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popup-email-select{
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
}