@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* other css files import */

@import url('./styles/Components.css');
@import url('./styles/MainPages.css');

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* General Styling */
 
  .doc-editor {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
  }
  
  .doc-editor-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .doc-editor-container {
    margin-top: 20px;
    display: flex;
  }
  
  .doc-editor-textarea {
    width: 100%;
    height: 500px;
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    resize: none;
    background-color: #f9f9f9;
  }
  
  .doc-editor-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .doc-editor-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .doc-editor-popup-content {
    background: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 500px;
  }

  .doc-editor-popup-content h3{
    font-size: 30px;
    font-size: 700;
  }

  .doc-editor-save-title-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .doc-editor-cancel-btn{
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .doc-editor-popup-title-input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    border: 1px solid #000;
  }
  
  .doc-editor-popup-actions button {
    margin-right: 10px;
  }
  